:root {
    --primary-color: #4e73df;
    --secondary-color: #858796;
    --success-color: #1cc88a;
    --info-color: #36b9cc;
    --warning-color: #f6c23e;
    --danger-color: #e74a3b;
    --light-color: #f8f9fc;
    --dark-color: #5a5c69;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fc;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}

.card-login {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-login .card-body {
    padding: 2rem;
}

.btn-login {
    font-size: 0.9rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}

.form-control-user {
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
